<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>

  <header th:fragment="miCabecera">

    <div class="cabecera">
      <img th:src="@{/imagenes/logo-de-la-panaderia.png}" class="logo-imagen" alt="...">
      <div class="titulo"><h1>Panaderia Pasteleria Los Andes</h1></div>
    </div>
  
    <div class="menu">
      <a th:href="@{/principal}"  >Home</a>
      <div class="opcion-desplegable">
        <a class="lista-del-menu" href="#">Archivo</a>
        <ul class="menu-desplegable">
          <li><a class="item-desplegable" th:href="@{/login/nuevo}">Crear Usuario</a></li>
          <li><a class="item-desplegable" href="#">Crear Clientes</a></li>
          <li><a class="item-desplegable" href="#">Cerrar sesion</a></li>
        </ul>
      </div>
      <a th:href="@{/principal/productos}">Productos</a>
      <a href="">Ventas</a>
      <a href="">Clientes</a>
      <a href="">Reportes</a>
      <a href="">Ayuda</a>
    </div>

  </header>
   
</body>
</html>