<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

  <header th:fragment="miCabecera">

    <div class="cabecera">
      <img th:src="@{/imagenes/logo-de-la-panaderia.png}" class="logo-imagen" alt="...">
      <div class="titulo"><h1>Panadería Pastelería Los Andes</h1></div>
    </div>
  
    <div class="menu">

      <div class="opcion-desplegable">
        <a class="lista-del-menu" href="#"><i class="fas fa-folder"></i> Archivo</a>
        <ul class="menu-desplegable">
          <li><a class="item-desplegable" th:href="@{/login/nuevo}"><i class="fas fa-user-plus"></i> Crear Usuario</a></li>
          <li><a class="item-desplegable" th:href="@{/clientes/nuevo}"><i class="fas fa-users"></i> </a></li>
          <li><a class="item-desplegable" th:href="@{/principal/agregar-producto}"><i class="fas fa-box-open"></i> Agregar Productos</a></li>
        </ul>
      </div>

      <a th:href="@{/principal/productos}"><i class="fas fa-boxes"></i> Productos</a>
      <a th:href="@{/principal/venta}"><i class="fas fa-shopping-cart"></i> Ventas</a>

      <div class="opcion-desplegable">
        <a class="lista-del-menu" href="#"><i class="fas fa-chart-line"></i> Reportes</a>
        <ul class="menu-desplegable">
          <li><a class="item-desplegable" th:href="@{/principal/reporte_venta}"><i class="fas fa-file-invoice-dollar"></i> Reporte de ventas</a></li>
          <li><a class="item-desplegable" th:href="@{/principal/reporte_inventario}"><i class="fas fa-warehouse"></i> Stock de productos</a></li>
          <li><a class="item-desplegable" th:href="@{/principal/listar_usuarios}"><i class="fas fa-users"></i> Lista de Usuarios</a></li>
        </ul>
      </div>      

      <a th:href="@{/info/Manual-de-usuario.pdf}" target="_blank"><i class="fas fa-question-circle"></i> Ayuda</a>
      <a th:href="@{/principal/inicio}" class="btn btn-danger">Cerrar Sesion</a>
    </div>

  </header>
   
</body>
</html>
