<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>
    <div class="contenedor">
        <h1>Iniciar Sesion</h1>
        <form action="/login" method="post">
            <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Ingresar</button>
        <button type="reset">Cancelar</button>
        </form>

        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    </div>
</body>
</html>